# Python
__pycache__/


# Virtual environments
venv/

# Jupyter
.ipynb_checkpoints/

# Data
*.csv
!data/sample_*.csv  # Keep small sample CSVs

# Keep the empty folder in Git
!data/.gitkeep

# Ignore temporary or experimental scripts
huggingface_skill.py
jd_skills.py
jd_skills_analysis.ipynb
test_xpath.py

old_csv_job_translator.py
old_csv_job_translator

jobnet_scraper.py
jobnew_scraper_test.py
job_street_scraper.py

.vscode