# Python
__pycache__/


# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# History Folder
.history

# Data
*.csv
!data/sample_*.csv  # Keep small sample CSVs
*.txt

# Keep the empty folder in Git
!data/.gitkeep

# Ignore temporary or experimental scripts
huggingface_skill.py
jd_skills.py
jd_skills_analysis.ipynb
test_xpath.py

combine_csv_data.ipynb
JobBERT_title_normalization_old.ipynb
JoBERT_title_normalization2.ipynb
sg_data_title_normalization.ipynb

old_csv_job_translator.py

q1_analyzation_old.ipynb

jobnew_scraper_test.py

.vscode