# Python
__pycache__/


# Virtual environments
venv/

# Jupyter
.ipynb_checkpoints/

# Data
*.csv
!data/sample_*.csv  # Keep small sample CSVs

# Ignore temporary or experimental scripts
huggingface_skill.py
jd_skills.py
jd_skills_analysis.ipynb